body {
    background-color: #D8D8D8;
    font-family: 'Lato', sans-serif;
}

.purpleStripe {
    width:100%;
    margin: 0;
    padding: 0;
    height: 5px;
    position: absolute;
    top:0px
}

.navbar {
    background-color:rgba(26,26,26,0.9);
}

.carousel-indicators {
    margin-bottom: -2rem;
}

.img-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color:white;
    font-weight: 600;
    font-size:2vw;
}

#pills-tab {
    position: relative;
    left: 275px;
    top: 17px;
}

.nav-tabs {
    border-bottom: none;
}


#pills-tab .nav-item .nav-link {
    font-size: 1rem;
    font-weight: 600;
    color:grey;
}

#pills-tab .nav-item .nav-link.active {
    color:#86328A;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #86328A;  
}

.nav-link.dropdown-toggle {
    color: #dedede;
}

#navbarDropdown4 {
    color: #D99DDE;
}