body {
    background-color: #D8D8D8;
}

.carousel-indicators {
    margin-bottom: -2rem;
}

.img-text {
    position: absolute;
    bottom: 45px;
    left: 30px;
    color:white;
    font-weight: 600;
    font-size: 28px;
}

#myTab {
    position: relative;
    left: 275px;
    top: 17px;
}

.nav-tabs {
    border-bottom: none;
}



#myTab .nav-item .nav-link {
    font-size: 1rem;
    font-weight: 600;
    color:grey;
}

#myTab .nav-item .nav-link.active {
    color:purple;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid purple;  
}